extends layout

block content
    div.m-5
        h1 Tizimga Kirish
        form(method='POST', action='/login')
            .form-group
                label Foydalanuvchi Ismi:
                input.form-control(name='username', type='text')
            .form-group
                label Parol:
                input.form-control(name='password', type='password')
            br
            input.btn.btn-success(type='submit' value='Kirish')
